.card{
    height: 100%;
    margin: 2rem 0rem -1rem;
    cursor: pointer;
    .card-image{
        figure{
            overflow: hidden;
            img{
                transition: transform .2s;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
    .card-content{
        p{
            margin-bottom: 0.5rem;
        }
        .price{
            font-size: 1.5rem;
            font-weight: 600;
        }
        .date{
            font-size: 0.8rem;
        }
        .specs{
            span{
                margin-right: 0.8rem;
            }
            .area, .beds, .bathrooms, .parking{
                font-weight: 600;
            }
        }
        .type, .address{
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        .type{
            font-weight: 600;
        }
    }
}