$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;
$fullhd: 1408px;

 @mixin is-mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
 }

 @mixin is-tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
 }

 @mixin is-desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
 }

 @mixin is-fullhd {
    @media (max-width: #{$fullhd}) {
        @content;
    }
 }